body {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.low-usage {
  font-size: 100px;
  color: white;
}

.medium-usage {
  font-size: 100px;
  color: black;
}

.high-usage {
  font-size: 100px;
  color: white;
}

.low-usage-body {
  background-color: green;
}

.medium-usage-body {
  background-color: white;
}

.high-usage-body {
  background-color: red;
}
